body{
    background-color: #011F3F;
    min-width: fit-content;
    min-width: -moz-fit-content;
}


.col-lg-6{
    width: 250px;
    height: 250px;
    background-color: black;
    margin: auto;
    margin-top: 50px;
    display: inline-flex;
    border-radius: 20%;
    border: black 10px solid;
}

.container-fluid{
    text-align: center;
    margin: auto;
    width: 100wh;
    /* height: 100vh; */
}
.row{
    width: 700px;
    text-align: center;
    margin: auto;
}

.button-1{
    background-color: green;
}

.button-2{
    background-color: red;
}

.button-3{
    background-color: blue;
}

.button-4{
    background-color: yellow;
}

@media (max-width:1200px) {
    .button-1{
        margin-right: 10px;
    }
    
    .button-2{
        margin-left: 10px;
    }
    
    .button-3{
        margin-right: 10px;
    }
    
    .button-4{
        margin-left: 10px;
    }
    .col-lg-6{
        margin-top: 20px;
    }
}

.pressed{
    background-color: grey;
    box-shadow: #a8a596 0px 0px 20px 5px;
}

.display{
    font-size: 4rem;
    text-align: center;
    margin: 50px auto 50px auto;
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;
    text-shadow: rgb(255, 0, 0) 3px 3px 100px 100px;
}


.footer{
    margin-top: 30px;
    color: #FEF2BF;
    text-align: center;
    line-height: 2;
}