body{
    color: #4e5e5b;
    margin: 0;
    position: relative;
}

.topcontainer {
    margin:0;
    width: 100%;
    /* height:995px; */
    background-color: rgb(205, 240, 234);
    text-align: center;
}
.middle-container{
    background-color: rgb(210, 233, 225);
    padding-top: 100px;
    margin: 0;
    padding-bottom: 50px;
}


.bottom-container{
    background-color: #60bfbf;
    width: 100%;
    padding: 1px;
}
.h1
{
    color: #66BFBF;
    font-weight: bold;
    font-size: 600%;
    margin: 0 auto 0 auto;
    padding-top: 150px;
    text-align: center;
    /* width: 30%; */
    font-family: 'Gloria Hallelujah', cursive;
}
h3{
    color: rgb(92, 143, 160);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
}
.saviour{
    margin:0 auto 0 auto;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.upper-cloud{
    margin: 0 auto 0;
    display: block;
    width: 20%;
    position: absolute;
    right: 10%;
    top: 50px;
}
.lower-cloud{
    position: absolute;
    top: 400px; 
    left: 110px;
}

.mountain{
    width: 70%;
    position: relative;
    padding-top: 150px;
    /* top: 200px; */
}

.profile{
    text-align: center;
    font-size: 2.5rem;
}

.profile-pic{
    width: 10%;
}


.intro{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 0%;
}
.skills{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}
.my-skills{
    margin: 100px auto 100px auto;
}
.skill-row-1{
    font-size: 1.5rem;
    width: 70%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
    /* padding: 100px; */
}
.skill-row-2{
    font-size: 1.5rem;
    width: 70%;
    margin: 200px auto 200px auto;
    line-height: 2;
    text-align: left;
    /* padding: 100px; */
}
.skill-row-3{
    font-size: 1.5rem;
    width: 70%;
    margin: 100px auto 200px auto;
    line-height: 2;
    text-align: left;
    /* padding: 100px; */
}

.coding{
    width: 30%;
    float: left;
    margin-right: 100px;
}

.webd{
    width: 30%;
    float: right;
}

.editing{
    width: 30%;
    float: left;
    margin-right: 100px;
}

.description{
    font-size: 1em;
    margin: 0;
}

h2{
    color: mediumaquamarine;
    font-size: 5rem;
    margin:0;
}

.top-line{
    width: 100%;
    height: 70px;
    background-color: rgb(171, 214, 201);
    position: fixed;
}

.menu{
    height: 60px;
    margin-top: 5px;
    position: absolute;
    right: 10px;
}

p{
    line-height: 2;
}

hr{
    border: rgb(220, 243, 243) solid;
    width: 50%;
    height: 2px;
    border-radius: 10%;
    border-radius: 100%;
}

.get-in-touch{
    font-size: 2em;
    margin: 50px 0 0 0;
}

.contact-me{
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin: 0;
}
.btn {
    background: #34b8d9;
    background-image: -webkit-linear-gradient(top, #34b8d9, #27d9f0);
    background-image: -moz-linear-gradient(top, #34b8d9, #27d9f0);
    background-image: -ms-linear-gradient(top, #34b8d9, #27d9f0);
    background-image: -o-linear-gradient(top, #34b8d9, #27d9f0);
    background-image: linear-gradient(to bottom, #34b8d9, #27d9f0);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #73c9ff;
    background-image: -webkit-linear-gradient(top, #73c9ff, #68c9e6);
    background-image: -moz-linear-gradient(top, #73c9ff, #68c9e6);
    background-image: -ms-linear-gradient(top, #73c9ff, #68c9e6);
    background-image: -o-linear-gradient(top, #73c9ff, #68c9e6);
    background-image: linear-gradient(to bottom, #73c9ff, #68c9e6);
    text-decoration: none;
  }

  .bottom-icon{
      padding: 0 10px 0 10px;
  }

  .copyright{
      margin: 0 auto 0 auto;
      text-align: center;
  }

  .margin-0{
      margin: 0;
  }