p.font15 
{
    font-size: 30pt;
    text-align: center;
    color: rgb(70, 209, 209);
}
.centre
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
}
h1.name 
{
    text-align: center; 
    color: rgb(80, 184, 177);
    font-size: 40pt;
}

div
{ 
    text-align: center; 
    margin-left: auto;
    font-size: 30pt;
}

ul 
{ 
    display: inline-block; 
    text-align: left; 
}
.footer 
{
    font-size: 15pt;
}

img
{
    display: block;
    margin-right: auto;
    width:100%;

}

span 
{
    text-align: center; 
    align-items: center;
}
border {
    border: 4px;
    border-bottom: 4px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-top-width: 10px;
    width: 10%;
    color: rgb(131, 131, 131);
}
.ho1 {
    width: 80px;
}
.ho {
    width: 50px;
}

h1:hover{
    color: teal;
}